doctype html
html(lang="en")
  head
    block title
    link(href="/vendor/bootstrap/dist/css/bootstrap.css",rel="stylesheet",type="text/css")
    link(href="/public/app.css",rel="stylesheet",type="text/css")
  body
    .navbar.navbar-default
        .container
            ul.nav.navbar-nav
                li 
                  a(href='/b/blog.html') 博客
                li 
                  a(href='/b/travel.html') 摄影
                li 
                  a(href='/b/travel.html') 关于1`1
    block content
    include footer.jade