@charset "utf-8";
/* CSS Document */

/*共通*/
*{margin:0px;padding:0px}
body{
	-webkit-font-smoothing: antialiased;
	font-family: tahoma, arial, 'Hiragino Sans GB', 微软雅黑, sans-serif;
	font: 14px/1.5 tahoma,arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;
}
.wrapper{
	overflow: hidden;
	}
li{list-style-type:none;position: relative;}
a{text-decoration:none;color:#0072c6;}
li label{
	position: absolute;z-index: 1000;text-align: left;display: block;line-height: 35px;height: 35px;
}
#submitBtn{
	cursor:pointer;
}
/*头部*/
#header{
	padding-left: 70px;
	margin-top:15%;
	}
#header .logo{
	padding-right:23px;
	vertical-align:middle;
	}
.inputDiv input{font-size:14px;}
#header .content{
	font-size:24px;
	margin: 20px 0px;
	}
.progress{
	height: 48px;background-repeat: no-repeat;
}
.progress .text{content:' ';clear:both;padding-top: 30px;}
.progress .text li{color:#ccc;float:left;width:60px;font-size:12px;width: 104px; margin-right:20px;    margin-right: 4px; margin-left: -5px;}
.progress.ps1 .text1{color:#0072c6}
.progress.ps2 .text1,.progress.ps2 .text2{color:#0072c6}
.progress.ps3 .text1,.progress.ps3 .text2,.progress.ps3 .text3{color:#0072c6}
.progress.ps1{
   background-image: url(../img/ps1.png);
}
.progress.ps2{
   background-image: url(../img/ps2.png);
}
.progress.ps3{
   background-image: url(../img/ps3.png);
}
/*主体*/
#mainbody{
	height:500px;
	background-color:#ffffff;
	}
.label{
	padding-left: 30px;
	cursor:text;
	width:120px;
	font-size:14px;
	color:#959595
	}
#mainbody li{margin-bottom:15px;}
.formContent{
	margin-top:20px;
	padding-left: 60px;
	}
.inputDiv{
	display:inline-block;
	margin-left:13px;
	width:250px;
	height:35px;
	border:1px solid #cccccc;
	border-radius:5px;
	vertical-align:middle;
	position:relative;
	}
.inputDiv input{
	width:200px;
	height:29px;
	margin:3px 40px 3px 10px;
	border:none;
	outline:medium;
	}
.inputDiv .icon{
	width:18px;height:17px;
	position:absolute;right:8px;top:9px;
	display:none;
}
.inputDiv.error .icon{
	display:block;
	background-image:url(../img/error.png);
}
.inputDiv.success .icon{
	display:block;
	background-image:url(../img/success.png);
}

a{
	color: #12609e;
}
/*同意部分*/
#footer{
	width:250px;
	height:130px;
	font-size:12px;
	margin:25px 0px 0px 75px;
	}
.agreen{
	font-size:12px;
	margin-bottom:20px;
	}
.agreen input{margin:0px 5px 0px 5px;}
.action{
	display:inline-block;
	width:250px;
	height:40px;
	background-color:#31a7f7;
	border-radius:5px;
	font-size:16px;
	color:#FFF;
	font-weight:bold;
	margin-bottom:20px;
	border:none;
	}
#footer p{
	font-size:14px;
	text-align:center;
	}
.agreement{
	position:absolute;height:100%;width:100%;top:0px;bottom:0px;z-index:100;
}
.agreement-back{
	position:absolute;background:red;height:100%;width:100%;top:0px;bottom:0px;
	background:black;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;
}
.agreement-body{
	background:white;position:absolute;left:50%;width:600px;left:50%;margin-left:-300px;top:10%;height:80%;box-sizing: border-box;
	
}
.agreement-body .title{
	position:relative;height:50px;background:#ebebeb;border-bottom:1px solid #e1e1e1;box-sizing: border-box;text-align:center;
	line-height:50%;font-size:20px;color:#333;padding:20px;
}
.agreement-body .body{
	background:white;position:absolute;top:50px;bottom:80px;width:100%;overflow-y: auto;overflow-x: hidden;background:white;padding:40px;box-sizing: border-box;
}
h3{font-size:16px;font-weight:normal;}.agreement p{font-size:12px;margin-bottom:20px;}
.agreement .close{
	position:absolute;top:16px;right:16px;background-image:url(../img/close.png);
    background-repeat:0px;width:16px;height:16px;cursor:pointer;
}
.hide{display:none;}
.agreement .footer{
	bacground:white;
	height:100px;position:absolute;bottom:0px;width:100%;background-image:url(../img/agreement-footer.png);background-position:center top;background-repeat:no-repeat;
}
.bigImg{
	float:left;width:62%;height:100%;background:#FEFEFE;background-image:url(../img/bak.jpg);background-position:center;
	background-size:cover;background-repeat:no-repeat;
}