<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zhuc.mybatis.mapper2.FlowMapper">

	<!--  
	<cache />
	-->
	
	<resultMap type="Flow" id="FlowMap">
		<result property="id" column="FLOW_ID"/>
		<result property="insuranceId" column="T_INSU_ID"/>
		<result property="codeId" column="CODE_NUMBER"/>
		<result property="operatingTime" column="OPERATING_TIME"/>
	</resultMap>
	
	<select id="get" parameterType="String" resultMap="FlowMap">
		SELECT * from T_FLOW where FLOW_ID = #{id}
	</select>

</mapper>